<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SparklerKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>sparkler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5FCAE2E01C7DEBFE00D36D0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FCAE2EF1C7DED0400D36D0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FCAE3121C7E1D6E00D36D0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FCAE3201C7E1D6F00D36D0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
